@model testProject2.Models.comment
<img src="~/Attach/profilePic/@Model.user.img" />
<span class="name">@Model.user.name</span>
<p>
    @Model.com_content
</p>
<span class="time">
    @Model.date
</span>
